#wrapper {
	width: 95%;
	margin: auto;
}
.menu {
	width: 90%;
	margin: auto;
	display: table;
	border: 1px solid blue;
}
.menu li {
	width: 90%;
	margin: auto;
	display: table;
	border: 1px solid green;
}
@media print {
	.menuAdmin {
		display: none;
	}
}